@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.display{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.money-part{
    background-color: #e6e6e6;
}
.input-field{
    background-color: #DCDCDC;
    border: none;
}


.saving{
    width: 20%;
}
#saving{
    width: 50%;
}

.btn{
    color: white;
    background-color: #0dcaf0;
}
.btn:hover{
    background-color: white;
    color: aqua;
}

.text-danger{
    display: none;
}

@media (max-width:700px) {
    .display{
        grid-template-columns: 1fr;
    }
    .saving{
        width: 40%;
    }
}